* {
  margin: 0px;
  padding: 0px;
  font-family: "EB Garamond", serif;
  font-family: "Poppins", sans-serif;
}
/* nav bar styles */
.js-eb-font  {
  font-family: "EB Garamond", serif;
}
.js-poppins-font {
  font-family: "Poppins", sans-serif;
}
.js-nav-margin {
  margin-left: 20%;
}
/* nav bar styles is ends */
/* bannar */
.js-bannar-fon-size {
  font-size: 70px;
}
/* bannar is ends */
/* Practice Area styles */

.js-Practice-font-size {
  font-size: 45px;
}
.card-img-top {
  margin-left: 180px;
  margin-top: 50px;
  padding: 20px;
}

/* Practice Area styles ends */

/* claint section styles */
.carousel-item{
  max-height: 400px;
}

/* claint section styles ends*/
/* *{
  outline: 1px solid green;
  } */
  .practice-title{
    overflow: hidden;
   
  }
  .hide{
    display: none;
  }

  @media screen and (max-width:576px){
    .carusel-res {
       font-size:10px;
    }
    .small-img{
      width: 60px;
      height:60px;
    }
    
  }

