
/* nav bar styles */
.js-eb-font .js-p-font-family{
    font-family: 'EB Garamond', serif;

}
.js-poppins-font{
 font-family: 'Poppins', sans-serif;
}
.js-nav-margin{
    margin-left: 20%;
}
/* nav bar styles is ends */
/* bannar */
.js-bannar-fon-size{
    font-size: 70px;
}
/* bannar is ends */
/* Practice Area styles */
@media screen and (max-width: 576px) {
    .js-card-mobile-responsive{
       
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    
}
.js-Practice-font-size{
    font-size: 45px;
}

/* Practice Area styles ends */