/* nav bar styles */
.js-eb-font{
    font-family: 'EB Garamond', serif;

}
.js-poppins-font{
 font-family: 'Poppins', sans-serif;
}
.js-nav-margin{
    margin-left: 20%;
}
/* nav bar styles is ends */